<h1>All artists</h1>

<table>
    <thead>
        <tr>
           <th>Picture</th>
           <th>Name</th>
           <th>Description</th>
           <th>Band</th>
           <th>Update</th>
           <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each artists}}
            <tr>
                <td><img src="{{this.picture}}" alt="{{this.name}}"></td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.isBand}}</td>
                <td><a href="/dashboard/artists/update/{{this._id}}">Update</a></td>
                <td><a href="/dashboard/artists/delete/{{this._id}}">Delete</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

